dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c3f13b44-4370-4652-8a22-f6ee17817bf0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="2a45b07b-fd6e-435a-aabd-1e7394c10735" >
		<http:listener doc:name="Listener" doc:id="259d1c45-0904-4a72-8831-c594d9a4ba80" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value="Hello Dummy" doc:name="Set Payload" doc:id="8dd4dafd-53a5-4e47-ae7d-cabfc86dad3e" />
		<logger level="INFO" doc:name="Logger" doc:id="451e291d-697f-40eb-bc13-14d4d40a42db" message="#[payload]"/>
	</flow>
</mule>
